<div class="container">
<br>
<br>
<br>
<h1>Recipes</h1>
<br>
<% if flash[:error] %>
<div class="alert alert-danger" role="alert">
    <h4><em><%= flash[:error] %></h4></em>
</div>
<% end %>
<br>

<a href="/recipes/new">Create New Recipe</a>
<br>
<br>

<div>
    <% @recipes.each do |recipe| %>
        <h2><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h2>
        <% if current_user == recipe.user %>
           <a href="/recipes/<%= recipe.id %>/edit">Edit Recipe</a>
        <% end %>
        <p><h4>Instructions: </h4><%= recipe.instructions %></p>
        <p><h4>Cook Time: </h4><%= recipe.cook_time %></p>
    <% end %>
</div>
</div>